<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
   <a class="brand" href="/professorHomepage"> <i class="bi bi-book"></i>&nbsp; E-Learning </a>
   <a href="/professorClasses">Lista de Disciplinas <i class="bi bi-journal-text"></i></a>
   <a href="/professorStudents">Lista de Alunos <i class="bi bi-people"></i></a>
<<<<<<< HEAD
   <a href="/professorTests">Arquivo de Testes <i class="bi bi-journals"></i></a>
   <a href="/professorSubmissions">Arquivo de Avaliações <i class="bi bi-clipboard-data"></i></a>
=======
   <a href="#">Arquivo de Testes <i class="bi bi-journals"></i></a>
>>>>>>> fffc78e7cde51147b6139f4f748d2f9f6f9bfc1d

   <div class="sidenav-footer">
      <a href="/professor/about">Sobre</a>
   </div>
</nav>
