<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
   <a class="brand" href="/professorHomepage"> <i class="bi bi-book"></i>&nbsp; E-Learning </a>
   <a href="/professorClasses">Lista de Disciplinas <i class="bi bi-journal-text"></i></a>
   <a href="/professorStudents">Lista de Alunos <i class="bi bi-people"></i></a>
   <a href="/professorTests">Arquivo de Testes <i class="bi bi-journals"></i></a>
   <a href="/professorSubmissions">Arquivo de Avaliações <i class="bi bi-clipboard-data"></i></a>

   <div class="sidenav-footer">
      <a href="/professor/about">Sobre</a>
      <a href="#" class="mt-4" id="google_translate_element"></a>
   </div>
</nav>

<script type="text/javascript">
   function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'pt' }, 'google_translate_element');
   }
</script>

<script
   type="text/javascript"
   src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>

   </div>
</nav>
