<!DOCTYPE html>
<%- include("./include/head") %>

<!-- Content -->
<body>
    <%- include("./include/navbar") %>
        <div class="main d-flex justify-content-center align-items-center mt-5">
            <div class="container mt-1 col-lg-6">
                <!-- Login Side -->
                <div class="card mt-1 mb-4" id="loginCard">
                    <div class="card-body card-front border-0">
                        <form>
                            <h4 class="text mt-2"><strong>Bem-vindo ao E-Learning</strong></h4>
                            <div class="row mt-4 mx-1 d-flex justify-content-start">
                                <p class="text">Faça login para poder aceder à sua plataforma de educação!</p>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-lg-9">
                                    <div class="alert alert-warning toggle-warning" data-bs-dismiss="alert" id="notExists">
                                        <small><strong>Utilizador não existe!</strong></small>
                                    </div>
                                    <div class="alert alert-warning toggle-warning" data-bs-dismiss="alert" id="fillAll">
                                        <small><strong>Preencha todos os campos</strong></small>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-2 mb-3 mx-2 d-flex justify-content-start">
                                <div class="col-2 mx-1 d-flex justify-content-start">
                                    <div class="form-check form-switch form-check-inline">
                                        <input class="form-check-input login" type="radio" value="student" name="role" id="studenteRole" checked>
                                        <label class="form-check-label text" for="studenteRole">
                                            Estudante
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3 mx-5 d-flex justify-content-start">
                                    <div class="form-check form-switch form-check-inline">
                                        <input class="form-check-input login" type="radio" value="professor" name="role" id="professorRole">
                                        <label class="form-check-label text" for="professorRole">
                                            Professor
                                        </label>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <label class="form-label text" for="usernameLogin"><strong>E-mail</strong></label>
                                    <input type="email" class="form-control" id="emailLogin">
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <label class="form-label text" for="passwordLogin"><strong>Password</strong></label>
                                    <input type="password" class="form-control" id="passwordLogin">
                                </div>
                            </div>
                            <div class="row mb-3 mx-2 mt-4" style="width: 97%;">
                                <div class="col-lg-12 mr-4 d-flex justify-content-end align-items-center">
                                    <a class="link" href="#" onclick="changeLogin()"><small>Não tem conta?
                                            Registe-se aqui!</small></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" id="loginButton" class="btn btn-primary">Entrar</button>
                                </div>
                                <div class="col-lg-12 mt-3 mr-4 d-flex justify-content-end align-itmes-center" id="forgotPassword">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#forgotPasswordModal" class="link"><small>Esqueceu-se da password?</small></a>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- Login Side -->


                    <!-- Register Side -->
                    <div class="card-body card-back border-0">
                        <form>
                            <h4 class="text mt-2"><strong>Registe-se no E-Learning</strong></h4>
                            <div class="row mt-4 mx-1 d-flex justify-content-start">
                                <p class="text">Registe-se para aceder à plataforma de E-learning!</p>
                                <p class="text">Aconselha-se o uso de uma password forte, composta por caracteres alfanuméricos, letras, números...</p>
                                <p class="text">Terá de fornecer o e-mail, um nome de utilizador, o seu nome e se é estudante ou professor.</p>
                            </div>
                            <div class="row mx-2">
                                <p class="text ml-5">
                                    <small><strong>Estudante ou Professor?</strong></small>
                                </p>
                            </div>
                            <div class="row mt-0 d-flex justify-content-start">
                                <div class="row d-flex justify-content-center">
                                    <div class="col-lg-9">
                                        <div class="alert alert-info toggle-warning" data-bs-dismiss="alert" id="alert">
                                            <small><strong>Registo efetuado com sucesso!</strong></small>
                                        </div>
                                        <div class="alert alert-warning toggle-warning" data-bs-dismiss="alert" id="userExists">
                                            <small><strong>Utilizador com o email fornecido já existe.</strong></small>
                                        </div>
                                        <div class="alert alert-warning toggle-warning" data-bs-dismiss="alert" id="warning">
                                            <small><strong>Preencha todos os campos</strong></small>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2 mx-4 d-flex justify-content-start">
                                    <div class="form-check form-switch form-check-inline">
                                        <input class="form-check-input register" type="radio" value="student" name="role" id="studenteRole" checked>
                                        <label class="form-check-label text" for="studenteRole">
                                            Estudante
                                        </label>
                                    </div>
                                </div>
                                <div class="col-3 mx-5 d-flex justify-content-start">
                                    <div class="form-check form-switch form-check-inline">
                                        <input class="form-check-input register" type="radio" value="professor" name="role" id="professorRole">
                                        <label class="form-check-label text" for="professorRole">
                                            Professor
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3 mx-2 d-flex justify-content-start">
                                <div class="col-6">
                                    <label for="nameRegister" class="form-label text"><small><strong>Primeiro e Último Nome</strong></small></label>
                                    <input type="text" class="form-control" id="nameRegister">
                                </div>
                                <div class="col-6">
                                    <label for="usernameRegister" class="form-label text"><small><strong>Nome de Utilizador</strong></small></label>
                                    <input type="text" class="form-control" id="usernameRegister">
                                </div>
                            </div>
                            <div class="row mt-2 mx-2 mb-3 d-flex justify-content-start">
                                <div class="col-lg-12">
                                    <label class="form-label text" for="emailRegister"><strong>E-mail</strong></label>
                                    <input type="email" class="form-control" id="emailRegister">
                                </div>
                                <div class="col-lg-12 mt-2">
                                    <label class="form-label text"
                                        for="passwordLogin"><strong>Password</strong></label>
                                    <input type="password" class="form-control" id="passwordRegister">
                                </div>
                            </div>
                            <div class="row mb-3 mx-2 mt-4" style="width: 97%;">
                                <div class="col-lg-12 mr-4 d-flex justify-content-end align-items-center">
                                    <a class="link" href="#" onclick="changeRegister()"><small>Já tem conta?</small></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-primary" id="registerButton">Registar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Register Side -->
            </div>
        </div>
</body>

<!-- Forgot Password Modal-->
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="row mt-2 mx-2 d-flex justify-content-start">
                        <h4 class="text"><strong>Recuperar a Password</strong></h4>
                    </div>
                    <div class="row mt-2 mb-3 mx-2 d-flex justify-content-start">
                        <div class="col-lg-12">
                            <label class="form-label text" for="usernameLogin"><strong>E-mail</strong></label>
                            <input type="email" class="form-control" id="emailLogin">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Forgot Password Modal-->

<!-- Change Card -->
<script>
    let loginCard = document.getElementById("loginCard")

    function changeLogin() {
        loginCard.classList.add('is-flipped')
    }

    function changeRegister() {
        loginCard.classList.remove('is-flipped')
    }
</script>
<!-- Change Card -->


<!-- Register Card -->
<script>
    let registerButton = document.getElementById("registerButton")
    let nameRegister = document.getElementById("nameRegister")
    let usernameRegister = document.getElementById("usernameRegister")
    let password = document.getElementById("passwordRegister")
    let alert_warning = document.getElementById("warning")
    let alert = document.getElementById("alert")
    let userExists = document.getElementById("userExists")

    registerButton.addEventListener("click", () => {
        let nameRegister = document.getElementById("nameRegister").value
        let usernameRegister = document.getElementById("usernameRegister").value
        let radios = document.getElementsByClassName("register")
        let email = document.getElementById("emailRegister").value
        let password = document.getElementById("passwordRegister").value

        if (radios[0].checked) {
            if (email === '' || password === '') {
                alert_warning.classList.add('is-visible')
                setTimeout(() => {
                   $('#warning').fadeOut()
                }, 2500)
            }
            else {
                let authentication = {
                'email': email,
                'password': password,
                'username': usernameRegister,
                'name': nameRegister,
                }
                let auth = JSON.stringify(authentication)
                
                fetch('/registerStudent', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', 
                    },
                    body: auth,
                }).then((response) => {
                    if (response.status == 201){
                        alert.classList.add('is-visible')
                        setTimeout(() => {
                            $('#alert').fadeOut()
                        }, 2500)
                    }
                    else if (response.status == 403){
                        userExists.classList.add('is-visible')
                        setTimeout(() => {
                            $('#userExists').fadeOut()
                            location.reload()
                        }, 2500)
                    }      
                }).catch((err) => { console.log(err) })
            }

        }
        else if (radios[1].checked) {
            if (email === '' || password === '') {
                alert_warning.classList.add('is-visible')
                setTimeout(() => {
                    $('#warning').fadeOut()
                }, 2500)
            }
            else {
                let authentication = {
                'email': email,
                'password': password,
                'username': usernameRegister,
                'name': nameRegister,
                }
                let auth = JSON.stringify(authentication)
                
                fetch('/registerProfessor', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', 
                    },
                    body: auth,
                }).then((response) => {
                    if (response.status == 201){
                        alert.classList.add('is-visible')
                        setTimeout(() => {
                            $('#alert').fadeOut()
                        }, 2500)
                    }
                    else if (response.status == 403){
                        userExists.classList.add('is-visible')
                        setTimeout(() => {
                            $('#userExists').fadeOut()
                            location.reload()
                        }, 2500)
                    }  
                }).catch((err) => { console.log(err) })
            }
        }

    })
</script>
<!-- Register Card -->


<!-- Login Card -->
<script>
    let loginForm = document.getElementById("loginButton")
    let loginWarning = document.getElementById("fillAll")
    let passwordWarning = document.getElementById("notExists")
    let radios = document.getElementsByClassName("login")

    loginForm.addEventListener('click', () => {
        let email = document.getElementById("emailLogin").value
        let password = document.getElementById("passwordLogin").value

        if (radios[0].checked) {
            if (password == '' || email == ''){
                loginWarning.classList.add('is-visible')
                setTimeout(() => {
                    $('#fillAll').fadeOut()
                }, 2500)
            }
            else {
                let authentication = {
                'email': email,
                'password': password
                }
                let auth = JSON.stringify(authentication)
                
                fetch('/studentLogin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', 
                    },
                    body: auth,

                }).then( async (response) => {
                    if (response.status == 403) {
                        passwordWarning.classList.add('is-visible')
                        setTimeout(() => {
                        passwordWarning.classList.remove('is-visible')
                        }, 2500)
                    }
                    else if (response.status == 200) {
                        const auth = await response.json()
                        window.location.href = ('/studentHomepage')
                    }
                }).catch((err) => { console.log(err) })
            }            
        }
        else if (radios[1].checked) {
            if (password == '' || email == ''){
                loginWarning.classList.add('is-visible')
                setTimeout(() => {
                    $('#fillAll').fadeOut()
                }, 2500)
            }
            else {
                let authentication = {
                'email': email,
                'password': password
                }
                let auth = JSON.stringify(authentication)
                
                fetch('/professorLogin', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json', 
                    },
                    body: auth,

                }).then( async (response) => {
                    if (response.status == 403) {
                        passwordWarning.classList.add('is-visible')
                        setTimeout(() => {
                        passwordWarning.classList.remove('is-visible')
                        }, 2500)
                    }
                    else if (response.status == 200) {
                        const auth = await response.json()
                        window.location.href = ('/professorHomepage')
                    }
                }).catch((err) => { console.log(err) })
            }            
        }
        
    })
</script>
<!-- Login Card -->