<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
   <a class="brand" href="/studentHomepage"> <i class="bi bi-book"></i>&nbsp; E-Learning </a>
   <a href="/allCourses">Todas as Disciplinas &nbsp;<i class="bi bi-journal-text"></i></a>
   <a href="/activeEnrollements">Disciplinas Inscrito &nbsp;<i class="bi bi-journal-check"></i></a>
   <a href="/grades">Pauta &nbsp;<i class="bi bi-table"></i></i></a>

   <div class="sidenav-footer">
      <a href="/student/about">Sobre</a>
   </div>
</nav>
