<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
    <a class="brand" href="/studentHomepage">
        <i class="bi bi-book"></i>&nbsp; E-Learning
    </a>
    <a href="/allCourses">Todas as Disciplinas <i class="bi bi-journal-text"></i></a>
    <a href="/activeEnrollements">Disciplinas Inscrito <i class="bi bi-journal-check"></i></a>
    
    <div class="sidenav-footer">
        <a href="/about">Sobre</a>
    </div>
</nav>