<!DOCTYPE html>
<%- include("../include/student/student_head") %>

<!-- Content -->
<body>
   <%- include("../include/student/student_navbar") %>
</body>

<script>
   $('#searchText').hide();
</script>
