<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
   <a class="brand" href="/"> <i class="bi bi-book"></i>&nbsp; E-Learning </a>

   <div class="sidenav-footer">
      <a href="/about">Sobre</a>
      <a href="#" class="mt-4" id="google_translate_element"></a>
   </div>
</nav>

<script type="text/javascript">
   function googleTranslateElementInit() {
      new google.translate.TranslateElement({ pageLanguage: 'pt' }, 'google_translate_element');
   }
</script>

<script
   type="text/javascript"
   src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
></script>
