<!-- NAVBAR -->
<nav class="sidenav" id="sidenav">
    <a class="brand" href="/">
        <i class="bi bi-book"></i>&nbsp; E-Learning
    </a>
    
    <div class="sidenav-footer">
        <a href="/about">About</a>
    </div>
</nav>