<!DOCTYPE html>
<%- include("../include/professor/professor_head") %>

<!-- Content -->
<body>
   <%- include("../include/professor/professor_navbar") %>

   <div class="main">
      <div class="container w-100">
         <div class="card shadow mt-4 mb-4">
            <div class="card-body statistic w-100">
               <div class="row">
                  <div class="col-lg-12">
                     <h2 class="heading"><strong>Sobre</strong></h2>
                  </div>
               </div>
               <div class="row mt-3">
                  <div class="col-lg-11 mx-4">
                     <h5>
                        <strong><i class="bi bi-house"></i> &nbsp;Página Inicial</strong>
                     </h5>
                     <p style="text-align: justify">
                        Apresenta uma visão global pertinente ao professor com a conta iniciada,
                        nomeadamente 2 botões "Adicionar Disciplina" e "Adicionar Aula" que permitem
                        adicionar uma discipina ou uma aula respetivamente. À direita tem também uma
                        coluna que demonstra informação importante, nomeadamente testes que estejam
                        por corrigir. Para além disso existe também alguma informação pertinente,
                        nomeadamente o número de alunos inscritos nas cadeiras que o professor
                        leciona, o número de disciplinas que o professor leciona e o número de
                        testes que foram submetidos pelo professor.
                     </p>
                     <br />
                     <h5>
                        <strong><i class="bi bi-list-check"></i> &nbsp;Lista de Disciplinas</strong>
                     </h5>
                     <p style="text-align: justify">
                        Apresenta todas as disciplinas que o professor com a conta iniciada leciona.
                        O professor pode abrir uma disciplina especifica e adicionar ou alterar
                        conteúdo da mesma. O professor pode editar o teste através do botão "Editar
                        Teste" e adicionar uma nova aula através do botão "+ Adicionar Aula". O
                        professor pode também editar uma aula ao carregar no botão "Editar Aula" da
                        aula especifica que pretende editar.
                     </p>
                     <br />
                     <h5>
                        <strong><i class="bi bi-list"></i> &nbsp;Lista de Alunos</strong>
                     </h5>
                     <p style="text-align: justify">
                        Apresenta a lista de todos os alunos a quem o professor dá aulas, dentro de
                        cada aluno é demonstrado o seu nome, o seu email e as disciplinas nas quais
                        o aluno está inscrito.
                     </p>
                     <br />
                     <h5>
                        <strong><i class="bi bi-journals"></i> &nbsp;Arquivo de Testes</strong>
                     </h5>
                     <p style="text-align: justify">
                        Apresenta a lista de todas as disciplinas que o professor leciona, e permite
                        alterar um testes especifico ao carregar no botão "Editar".
                     </p>
                     <br />
                     <h5>
                        <strong
                           ><i class="bi bi-clipboard-data"></i> &nbsp;Arquivo de Avaliações</strong
                        >
                     </h5>
                     <p style="text-align: justify">
                        Apresenta uma tabela com todos os alunos inscritos nas disciplinas que o
                        professor leciona, e permite avaliar um aluno especifico num teste
                        especifico através do botão "Avaliar". Existe também uma coluna "Avaliação"
                        que demonstra o resultado que um certo aluno teve num teste.
                     </p>
                     <br />
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>

<script>
   $('#addCourseBtn').hide();
   $('#addClassBtn').hide();
</script>
