<!DOCTYPE html>
<%- include("./include/professor/professor_head") %>

<!-- Content -->
<body>
   <%- include("./include/professor/professor_navbar") %>
</body>

<script>
   $('#addCourseBtn').hide();
   $('#addClassBtn').hide();
</script>
